#main_img{
    height:220px;
    width: 280px;
}

.card-img-top{
    padding: 20px;
    width: 180px;
    height: 180px;
    align-self:center;
}

.card {
  border: 1.25px solid #00cc99;
}

.radio-inline{
    padding-left: 5px;
    font-size: 24px;
}

input[type=radio]{
  width   : 28px;
  height: 20px;
  margin  : 5px;
  padding : 0;
  opacity : 1;
}

#howto hr.star-light:after {
    color: #fff;
    background-color: #343a40;
}

#quiz_header hr.star-light:after {
    color: #fff;
    background-color: #18BC9C;
}

#quiz_header{
    padding-top: 150px;
    background-color: #fff;
}

img{
    height: 125px;
    width: 125px;
    padding: 20px;
}

#right_column {
  border-left: solid 4px #2C3E50;
}

#skip{
    margin-left:20px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 0;
    padding-left: 40px;
}