#main_img{
    height:220px;
    width: 280px;
}

.card-img-top{
    padding: 20px;
    width: 180px;
    height: 180px;
    align-self:center;
}

.card {
  border: 1.25px solid #00cc99;
}

.radio-inline{
    padding-left: 15px;
}

input[type=radio]{
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 1;
}

#kenya{
    height: 70px;
    width: 70px;
    padding: 10px;
}

#howto hr.star-light:after {
    color: #fff;
    background-color: #343a40;
}

#africa hr.star-light:after {
    color: #fff;
    background-color: #343a40;
}

#africa{
    padding-top: 150px;
    background-color: #fff;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 0;
    padding-left: 40px;
}