#main_img{
    height:220px;
    width: 280px;
}

.card-img-top{
    padding: 20px;
    width: 180px;
    height: 180px;
    align-self:center;
}

.card {
  border: 1.25px solid #00cc99;
}

.radio-inline{
    padding-left: 15px;
}

input[type=radio]{
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 1;
}