{% extends 'base.html' %}
{% block content %}

    <section class="masthead bg-primary text-white text-center" id="quiz_header">
      
      <div class="container-fluid">
        <div class="row">
			  <div class="col-md-5 mb-5 mb-lg-0">
    			<h2 class="text-center text-uppercase text-white">{{ region }} Quiz</h2>
    			<hr class="star-light mb-5">
    			<img class="card-img-top" src="static/img/portfolio/asia.png" alt="Asia">
    			<h3> Welcome {{ username }} </h3></br>
    			<h3 class="text-center text-uppercase text-white">How many capitals do you know in the countries of {{ region }}</h3></br>
			  </div>
		
			{% for question in asia_data %}
		
			<div class="col-md-7 mb-7 mb-lg-0" id="right_column">
    			<h3>{{ question.question }}</h3>
    			<img src={{ question.image_source }} alt="Image for {{ question.question }}">
    			<form method="POST">
    				<!-- <label class="radio-inline radio-danger"><input type="radio" name="optradio"> {{ asia_data[0]["option1"] }} </label> -->
    				<!-- <label class="radio-inline radio-danger"><input type="radio" name="optradio"> {{ asia_data[0]["option2"] }} </label> -->
    				<!-- <label class="radio-inline radio-danger"><input type="radio" name="optradio"> {{ asia_data[0]["option3"] }} </label> -->
    				<div class="input-group">
          			<input id="user_answer" type="text" class="form-control" name="user_answer" placeholder="Enter your answer here">
          			</div></br>
          			<button name="redirect" class="btn btn-info" value="Redirect">Submit</button>
			    </form></br>
			    <!-- <button name="user_answer" class="btn btn-info" value="user_answer" id="user_answer">Submit</button><button type="button" class="btn btn-info" id="skip">Skip</button> n-->
			{% endfor %}
			<h3>Your score is {{ score }}</h3>
			</div>
      </div>
	  </div>
      
    </section>
    
{% endblock %}